{% extends 'base.html.twig' %}

{% block title %}nos annonces {% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        {{form_start(form)}}
        <div class="form-row">
            <div class="col">
                {{form_row(form.minPrice)}}
            </div>
            <div class="col">
                {{form_row(form.maxPrice)}}
            </div>

            <div class="col">
                {{form_row(form.city)}}
            </div>
            <div class="col">
                <button class="btn btn-primary">Rechercher</button>
            </div>
        </div>
        {{form_end(form)}}
    </div>
</div>

<div class="container">

    <h1 class="my-3">Voici les annonces de nos hotes !</h1>
    <div class="row">
        {% for ad in ads %}
           {% include "ad/_ad.html.twig" %}
        {% endfor %}    
    </div> 
    <div class="pagination">
            {{ knp_pagination_render(ads) }}
    </div>
</div>
{% endblock %}
